/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.home-banner{
  background: url('photo/DSC_0370.JPG') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 900px;
}

.project-banner {
  background: url('photo/20180803-MI-SEDS-CAN-SBX MIIST Imager Integation in Cleanroom23.JPG') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 900px;
}

.jumbotron-navy {
   background: #B5EAD7; /* This is for ie8 and below */
   background: #FFFFD8; 
}

.text-on-navy {
    color: #0082A8;
}

.my-btn {
    background-color: #FF9AA2;
}