/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.jumbotron-navy {
   background: #B5EAD7; /* This is for ie8 and below */
   background: #8DFFCD; 
}

.text-on-navy {
    color: #474350;
}

.my-btn {
    background-color: #BBACC1;
}